<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header d-block text-center">
      <h3>Assign Job</h3>
      <a href="#" class="close" data-dismiss="modal">close</a>
      <a href="#" class="arrow" data-dismiss="modal">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <%= form_tag job_assign_jobs_path(@job) do %>
            <%@users.each do |user|%>
              <label><%= user.first_name %></label>
              <%= check_box_tag 'user_ids[]', user.id, @assign_users.include?(user.id.to_s)%>
            <%end%>
            <%= submit_tag "Submit" %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>