<div class="modal-dialog">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header d-block">
      <h3>Interview Schedule</h3>
      <a href="#" class="close" data-dismiss="modal">close</a>
    </div>
    <!-- Modal body -->
    <div class="modal-body" id="interview-schedule-details">
      <%if @job.interview.interview_schedules.maximum('stage') != 0%>
        <%= render 'interview_schedule_details' %>
      <%end%>
    </div>

  </div>
</div>