<div class="container-fluid">
   <div class="row">
   		<%= render 'shared/navigation' %>

		<% if current_user.candidate? %>
		  <%= render "candidate" %>
		<% end %>

		<% if current_user.client? %>
		  <%= render "client" %>
		<% end %>

	</div>
</div>
<style>
  .modal { overflow: auto !important; }
</style>
