<div class="container-fluid">
   <div class="row">
   		<%= render 'shared/navigation' %>
		
		<% if current_user.candidate? %>
		  <%= render "candidate" %>
		<% end %>

		<% if current_user.client? %>
		  <%= render "client" %>
		<% end %>

	</div>
</div>

      <!-- The Modal 2 -->
      <div class="modal fade popup-1" id="myModal2">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header">
                  <a href="#" class="close" data-dismiss="modal">close</a>
               </div>
               <!-- Modal body -->
               <div class="modal-body">
                  <form class="sign-up-form edit-profile">
                     <div class="candi-client text-center">
                        Edit Profile
                     </div>
                     <div class="name-field">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                     </div>
                     <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                     </div>
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Contact Number">
                     </div>
                     <div class="form-group">
                        <select class="form-control" id="sel1">
                           <option>Location Preferred</option>
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Salary Sought*">
                     </div>
                     <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password (6 characters minimum)">
                     </div>
                     <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password confirmation">
                     </div>
                     <button type="submit" class="btn log-in-btn">save</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- The Modal 2 -->	
      <!----- interview schedule ----->
      <div class="modal fade schedu" id="schedule">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header d-block text-center">
                  <h3>Interview Schedule</h3>
                  <a href="#" class="close" data-dismiss="modal">close</a>
                  <a href="#" class="arrow"><i class="fas fa-arrow-left"></i></a>
               </div>
               <!-- Modal body -->
               <div class="modal-body">
                  <h4>candidate feedback</h4>
                  <div class="feedback-cont">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  </div>
               </div>
               <!-- Modal footer -->
               <div class="modal-footer">
                  <a href="#">save changes</a>
               </div>
            </div>
         </div>
      </div>
      <!----- interview schedule ----->
      <!-- interview round -->
      <div class="modal fade interview-round" id="interview-round">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header d-block">
                  <h3>Interview Schedule</h3>
                  <a href="#" class="close" data-dismiss="modal">close</a>
               </div>
               <!-- Modal body -->
               <div class="modal-body">
                  <ul class="nav nav-tabs" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active" href="#pre-screen" role="tab" data-toggle="tab">Pre screen</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#2nd-round" role="tab" data-toggle="tab">2nd round</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#3rd-round" role="tab" data-toggle="tab">3rd round</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#4th-round" role="tab" data-toggle="tab">4th round</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#5th-round" role="tab" data-toggle="tab">5th round</a>
                     </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                     <div role="tabpanel" class="tab-pane in active" id="pre-screen">
                        <div class="popup-content">
                           <h4>interview availability dates</h4>
                           <div class="date">21/03/2018 10:00 am</div>
                           <div class="popup-divider"></div>
                           <h4>interviewer</h4>
                           <div class="interviewer-detail"> <%= image_tag "new_ui/About Us-1.png", alt:"interviewer", class:"img-fluid" %>brain johnson</div>
                           <div class="popup-divider"></div>
                           <h4>interviewer</h4>
                           <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                           <div class="popup-divider"></div>
                           <h4>client comments</h4>
                           <div class="row">
                              <div class="col-9">
                                 <a href="#">chris</a> very nice
                              </div>
                              <div class="col-3">
                                 <a href="#">edit</a>
                                 <a href="#">delete</a>
                              </div>
                              <div class="col-9">
                                 <a href="#">chris</a> very nice
                              </div>
                              <div class="col-3">
                                 <a href="#">edit</a>
                                 <a href="#">delete</a>
                              </div>
                              <div class="col-9">
                                 <a href="#">chris</a> very nice
                              </div>
                              <div class="col-3">
                                 <a href="#">edit</a>
                                 <a href="#">delete</a>
                              </div>
                           </div>
                           <div class="popup-divider"></div>
                           <h4>next steps</h4>
                           <div class="row">
                              <div class="col-8">
                                 <a href="#">chris</a> very nice
                              </div>
                              <div class="col-4">
                                 <a href="#">edit</a>
                                 <a href="#">add</a>
                                 <a href="#">delete</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div role="tabpanel" class="tab-pane fade" id="2nd-round">bbb</div>
                     <div role="tabpanel" class="tab-pane fade" id="3rd-round">ccc</div>
                     <div role="tabpanel" class="tab-pane fade" id="4th-round">dffsf</div>
                     <div role="tabpanel" class="tab-pane fade" id="4th-round">fsfs</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- interview round -->