<div class="container-fluid only-bg bg-clr">
  <div class="comm-pad">
    <h3 class="comm-head">About Us</h3>
    <div class="terms-1-sec">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="ab-left">
            <h2>Enterepreneurship, Vision and Delivery</h2>
            <div class="row">
              <div class="col-lg-3 col-sm-4 text-center vrt-cen">
                <img src="<%=asset_path('new_ui/About Us-1.png')%>", alt="" class="img-fluid">
              </div>
              <div class="col-lg-6 col-sm-8">
                <p>The system was designed by Chris Forbes who has spent 20 years in IT, Consulting and Executive Search</p>
                <p>Chris Forbes is an entrepreneur and CEO of award winning businesses. He is regularly featured in National Media and has worked at up to Board level with companies like PWC and UBS.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="terms-right about-sec">
            <div class="row">
              <div class="col-md-12 col-lg-9">
                <div class="row">
                  <div class="col-sm-4 vrt-cen">
                    <div class="common-sec-img">
                      <img src="<%=asset_path('new_ui/icon-9.png')%>", alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <h4>Workflows</h4>
                    <p>Frustrated by the outdated recruitment workflows and technology in a global economy Chris designed a way to organise the data in a much more efficient way.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-9">
                <div class="row">
                  <div class="col-sm-4 vrt-cen">
                    <div class="common-sec-img">
                      <img src="<%=asset_path('new_ui/icon-10.png')%>", alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <h4>Engineering</h4>
                    <p>By using his enterprise architecture and digital data experience he was able to design multiple databases that could all talk to one another.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-9">
                <div class="row">
                  <div class="col-sm-4 vrt-cen">
                    <div class="common-sec-img">
                      <img src="<%=asset_path('new_ui/color-logo.png')%>", alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <h4>Your Cube</h4>
                    <p>describes how every user has a diferent side of the cube they interact with. Everyone has a diferent version of their cube that is fully automated and configureable.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
