<div class="container-fluid bg-clr">
	<div class="contact-content">
		<h3 class="comm-head">Contact Us</h3>
		<div class="cont-links text-center">
			+44 (0)2071902970
			<a href="mailto:chris.forbes@phdit.com" class="mail-link">chris.forbes@phdit.com</a>
			<a href="https://mobile.twitter.com/PhDSearch1" class="icons"><i class="fab fa-twitter"></i></a>
			<a href="https://uk.linkedin.com/in/chrisforbes" class="icons"><i class="fab fa-linkedin-in"></i></a>
		</div>
	</div>
</div>
