<!---- slider ------>

<div class="header-slider">
  <div class="slides first">
    <div class="container">
      <div class="slide-content">
        <h2>Engage with top talent in a completely different way than before</h2>
        <p>Manage risks, communicate better, be aware of external competition, showcase the culture of your organisation.</p>
        <a href="#" class="sign-up-form-btn">Sign up</a>
      </div>
    </div>
  </div>
  <div class="slides second">
    <div class="container">
      <div class="slide-content">
        <h2>Engage with top talent in a completely different way than before</h2>
        <p>Manage risks, communicate better, be aware of external competition, showcase the culture of your organisation.</p>
        <a href="#" class="sign-up-form-btn">Sign up</a>
      </div>
    </div>
  </div>
  <div class="slides third">
    <div class="container">
      <div class="slide-content">
        <h2>Engage with top talent in a completely different way than before</h2>
        <p>Manage risks, communicate better, be aware of external competition, showcase the culture of your organisation.</p>
        <a href="#" class="sign-up-form-btn">Sign up</a>
      </div>
    </div>
  </div>
</div>

<!---- slider end ------>
<div class="container-fluid">
  <div class="under-slider-four-sec row">
    <div class="common-sec col-md-6">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-1.png', alt: 'icon-1', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Security at first</h2></div>
        <div class="col-md-8"><p>Have all the workflow data, including dates, diaries and feedback stored in the cloud. As well as a central depository for CVs and Job descriptions.</p></div>
      </div>
    </div>

    <div class="common-sec col-md-6" style="background-color:#f1f1f1;">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-2.png', alt: 'icon-2', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Total control</h2></div>
        <div class="col-md-8"><p>Manage the recruitment process across all sites anywhere in the world. Unrestricted by diferent time zones to get things done.</p></div>
      </div>
    </div>

    <div class="common-sec col-md-6" style="background-color:#f1f1f1;">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-3.png', alt: 'icon-3', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Nothing is missed</h2></div>
        <div class="col-md-8"><p>Have an automated email notification system when applicants arrive, new interviews are added or new feedback is received.</p></div>
      </div>
    </div>

    <div class="common-sec col-md-6">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-4.png', alt: 'icon-4', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Get better</h2></div>
        <div class="col-md-8"><p>Create better data analytics for Executive Management. See where processes can be improved from salaries to talent management.</p></div>
      </div>
    </div>
  </div>
</div>
