<!---- slider ------>

<div class="header-slider">
  <div class="slides first">
    <div class="container">
      <div class="slide-content">
        <h2>Engage with top talent in a completely transparent and collaborative way.</h2>
        <p>Manage risks, communicate better, be aware of external competition, showcase the culture of your organisation.</p>
        <a href="#" class="sign-up-form-btn">Sign up</a>
      </div>
    </div>
  </div>
  <div class="slides second">
    <div class="container">
      <div class="slide-content">
        <h2>Engage with top talent in a completely transparent and collaborative way.</h2>
        <p>Manage risks, communicate better, be aware of external competition, showcase the culture of your organisation.</p>
        <a href="#" class="sign-up-form-btn">Sign up</a>
      </div>
    </div>
  </div>
  <div class="slides third">
    <div class="container">
      <div class="slide-content">
        <h2>Engage with top talent in a completely transparent and collaborative way.</h2>
        <p>Manage risks, communicate better, be aware of external competition, showcase the culture of your organisation.</p>
        <a href="#" class="sign-up-form-btn">Sign up</a>
      </div>
    </div>
  </div>
</div>

<!---- slider end ------>
<div class="container-fluid">
  <div class="under-slider-four-sec row">
    <div class="common-sec col-md-6" style="height: 340px;">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-1.png', alt: 'icon-1', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Mobility and Security First</h2></div>
        <div class="col-md-8"><p>Securely access all workflow data, including dates, diaries and feedback on your smartphone.<br/>A secure cloud based repository for CV's and Job descriptions.</p></div>
      </div>
    </div>

    <div class="common-sec col-md-6" style="background-color:#f1f1f1; height: 340px;">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-2.png', alt: 'icon-2', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Information Flow</h2></div>
        <div class="col-md-8"><p>Managing the information flow across all sites anywhere in the world. Unrestricted by different time zones to get things done.</p></div>
      </div>
    </div>

    <div class="common-sec col-md-6" style="background-color:#f1f1f1; height: 340px;">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-3.png', alt: 'icon-3', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Process Automation</h2></div>
        <div class="col-md-8"><p>Automated notifications when new applicants arrive, new interviews are added or new feedback is received.</p></div>
      </div>
    </div>

    <div class="common-sec col-md-6">
      <div class="row">
        <div class="col-md-3">
          <div class="common-sec-img">
            <%= image_tag 'new_ui/icon-4.png', alt: 'icon-4', class: 'img-fluid' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Data Driven Decisions</h2></div>
        <div class="col-md-8"><p>Data analytics and machine learning used for process improvement and talent management</p></div>
      </div>
    </div>
  </div>
</div>
