<div class="container-fluid only-bg bg-clr">
	<div class="comm-pad">
		<h3 class="comm-head">Platform</h3>
		<div class="terms-1-sec">
			<div class="row">
				<div class="col-md-5">
					<h2>Engage with top talent on one portal</h2>
					<p>The platform is designed for companies to create better work flow management by bringing it all togehter. </p>
				</div>
				<div class="col-md-7">
					<div class="terms-right">
						<div class="row">
							<div class="col-md-6">
								<div class="common-sec-img">
									<img src="<%=asset_path('new_ui/icon-5.png')%>" alt="The-Platform_03" class="img-fluid">
								</div>
								<h4>Document Management</h4>
								<p>Interviewers can download and upload formatted word or pdf job descriptions via the platform.</p>
							</div>
							<div class="col-md-6">
								<div class="common-sec-img">
									<img src="<%=asset_path('new_ui/icon-6.png')%>" alt="The-Platform_03" class="img-fluid">
								</div>
								<h4>Reduce Tracking Tools</h4>
								<p>No more excel spreadsheets monitoring, stages, dates and interview feedback, get the workflow via the platform.</p>
							</div>
							<div class="col-md-6">
								<div class="common-sec-img">
									<img src="<%=asset_path('new_ui/icon-7.png')%>" alt="The-Platform_03" class="img-fluid">
								</div>
								<h4>Save time and resources </h4>
								<p>You will no longer have to track all the email communications on feedback. Everything is now on one platform.</p>
							</div>
							<div class="col-md-6">
								<div class="common-sec-img">
									<img src="<%=asset_path('new_ui/icon-8.png')%>" alt="The-Platform_03" class="img-fluid">
								</div>
								<h4>More Efficient</h4>
								<p>Interview dates and stages are automated via emails to the candidates meaning less errors and easier data collection. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
