<div class="container-fluid bg-clr">
		<div class="comm-pad">
			<h3 class="comm-head">Secure Data &amp; Privacy Policy</h3>
			<div class="terms-1-sec">
				<div class="row">
					<div class="col-md-4">
						<div class="secure-sec">
							<h4>Documents via<br> The Google Cloud</h4>
							<p>The system architecture is container based meaning that eachclient gets their own version of the software</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
								<div class="secure-privacy" style="height: 275px;">
									<div class="eql-img-sec" style="height: 65px;"><img src="<%=asset_path('new_ui/google.png') %>" alt="" class="img-fluid"></div>
									<p>Google Cloud is a fast and secure cloud architecture fully compliant with industry standards. The system is container based and everyone gets their own secure environment.</p>
								</div>
							</div>
							<div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
								<div class="secure-privacy" style="height: 275px;">
									<div class="eql-img-sec" style="height: 65px;"><img src="<%=asset_path('new_ui/icon-11.png') %>" alt="" class="img-fluid"></div>
									<p>Secure Data Storage, The Google Cloud has the most advanced data encryption and numerous disaster recovery layers to ensure your data is safe and secure</p>
								</div>
							</div>
							<div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
								<div class="secure-privacy" style="height: 275px;">
									<div class="eql-img-sec" style="height: 65px;"><img src="<%=asset_path('new_ui/icon-12.png') %>" alt="" class="img-fluid"></div>
									<p>User Access Control,the master admin function means that people can only see the work streams and data that are assigned to them.</p>
								</div>
							</div>
							<div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
								<div class="secure-privacy" style="height: 275px;">
									<div class="eql-img-sec" style="height: 65px;"><img src="<%=asset_path('new_ui/icon-13.png') %>" alt="" class="img-fluid"></div>
									<p>Privacywe are fully compliant with the Data Protection Act 1998 and all personal and company details are secure and not shared between users within the wider platform.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>