<div class="container-fluid only-bg bg-clr">
	<div class="comm-pad">
		<h3 class="comm-head">Terms &amp; Conditions</h3>
		<div class="terms-1-sec">
			<div class="row">
				<div class="col-md-5">
					<h2>Fair, Afordable, Scalable</h2>
					<p>30 Day Trial Available for Enterprise Edition. <br>No implementation fees!</p>
				</div>
				<div class="col-md-7">
					<div class="terms-right">
						<div class="row">
							<div class="col-md-6">
								<h4>Free Edition</h4>
								<p>Up to 10 free users, this is designed to allow smaller organisations to grow fast without the burden of an expensive cloud system but more efficient than tracking recruitment via email and spreadsheets.</p>
							</div>
							<div class="col-md-6">
								<h4>Consulting</h4>
								<p>Each system can be tailored to each company. This means that the entry pages can mirror from your servers and look exactly the same as your site. Additional features can be delivered on a day rate basis.</p>
							</div>
							<div class="col-md-6">
								<h4>Enterprise Edition</h4>
								<p>Free license but then on a £25 per user per month pricing structure. The enterprise edition allows larger organisations to manage their workflows across multiple offices on one portal.</p>
							</div>
							<div class="col-md-6">
								<h4>Terms of Use</h4>
								<p>Our users are expected to behave in a professional manner. Anyone that is reported for false information or inappropriate behaviour will have their access investigated</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	