<!----- footer ----->

<footer class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="foot-left-prt">
        <%= image_tag 'new_ui/color-logo.png', alt: 'icon-1', class: 'img-fluid' %> TM
      </div>
    </div>
    <div class="col-md-6 text-center">
      <ul class="foot-menu">
        <li><a href="#">The platform</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="col-md-3 text-right">
      <ul class="foot-menu">
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</footer>


<!----- footer end ---->