<%= javascript_include_tag 'highcharts', 'highcharts-more' %>
<br/>
<div  style="width: 700px; margin: 0 auto">
    <%= date_field_tag :start_date, nil, class: 'form-control', placeholder: 'start date' %>
    <%= date_field_tag :end_date, nil, class: 'form-control', placeholder: 'end date' %>
    <%= button_tag 'load results', id: 'load_result', class: 'btn btn-default' %>
</div>
<div id="container" style="width: 700px; height: 390px; margin: 0 auto"></div>
<script>
    $(function(){
        $(document).ready(function(){
            loadgraph();
            $('#load_result').click(function () {
                loadgraph();
            });
        });

        function loadgraph() {
            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();
            geturl(start_date, end_date)
                .done(function(response) {
                    //cumulative flow diagram
                    var color1 = '#a8f99f';
                    var color2 = '#062702';

                    var currentmonth = -1;

                    var open = response.open_jobs,
                        closed = response.closed_jobs;


                    Highcharts.chart('container', {
                        chart: {
                            type: 'area'
                        },
                        title: {
                            text: ''
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            title: {
                                text: ''
                            },
                            labels: {
                                style: {
                                    fontWeight: 'normal',
                                    fontSize: '12px',
                                    fontFamily: 'Segoe UI',
                                    color: 'black'
                                },
                                formatter: function () {
                                    return '';
                                }
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        yAxis: {
                            title: {
                                text: 'Jobs Count'
                            }
                        },
                        tooltip: {
                            split: true,
                            valueSuffix: ''
                        },
                        plotOptions: {
                            area: {
                                stacking: 'normal',
                                lineColor: '#666666',
                                lineWidth: 1,
                                marker: {
                                    lineWidth: 1,
                                    lineColor: '#666666'
                                }
                            }
                        },
                        series: [{
                            name: 'Open Jobs',
                            data: open
                        }, {
                            name: 'Closed Jobs',
                            data: closed
                        }]
                    });

                })
                .fail(function() {
                    alert( "something went wrong." );
                })
        }

        function geturl(start_date, end_date) {
            if((start_date == '' || start_date == undefined) && (end_date == '' || end_date == undefined)) {
                return $.get({
                    url: '/admin/get_data'
                })
            } else {
                return $.get({
                    url: '/admin/get_data',
                    data: {
                        start_date: start_date,
                        end_date: end_date
                    }
                })
            }
        }
    });
</script>