<!-- <div class="banner_cov">
 <%#= image_tag("banner_inn.jpg") %></div>  
 <div class="container">
 <div class="row">
  <div class="col-md-10 sign_pop col-md-offset-1">
<h1>Editing Resume</h1>

<%#= render 'form' %>

<%#= link_to 'Show', @resume %> |
<%#= link_to 'Back', resumes_path %>
</div</div></div>

 -->


<div class="container-fluid">
<div class="row">
	<%= render 'shared/navigation' %>
	<div class="col-md-10" id="content-container" style="background-color:#f1f1f1;">
		<div class="create-job">
			<h2>new resume</h2>
			<%= render 'form' %>
		</div>
	</div>
	</div>
</div>

