
<div class="container-fluid">
<div class="row">
	<%= render 'shared/navigation' %>
	<div class="col-md-10" style="background-color:#f1f1f1;">
		<div class="create-job">
			<h2>new resume</h2>
			<%= render 'form' %>
		</div>
	</div>
	</div>
</div>

